body{
    background-color: rgb(43, 30, 43);
}

.logo{
    height: 50px;
    width: 100%;
}

.logo img:first-child {
    float: left;
    height: 50px;
    min-width: 100px;
  }
  
  .logo img:last-child {
    float: right;
    min-width: 50px;
  }

